@model PostViewModel
@{
}
<div class="d-flex justify-content-end w-100 mb-2">
    <form asp-controller="Comment" asp-action="CreateComment" method="get">
        <input type="hidden" name="postId" value="@Model.Post.Id" />
        <button type="submit" class="btn btn-primary">Create comment</button>
    </form>
</div>

<div class="">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="text-nowrap">
                        <div>
                            User:
                        </div>
                        <div>
                            <a asp-controller="Profile" asp-action="Index" asp-route-username="@Model.Post.User">@Model.Post.User</a>
                        </div>
                    </div>
                </td>
                <td class="w-100">
                    @if (Model.UserId == Model.Post.User.Id)
                    {
                        <form asp-controller="Post" asp-action="Update" method="get">
                            <input type="hidden" name="postId" value="@Model.Post.Id" />
                            <button type="submit" class="btn btn-primary">Edit post</button>
                        </form>
                        <form asp-controller="Post" asp-action="DeletePost" method="post">
                            <input type="hidden" name="postId" value="@Model.Post.Id" />
                            <button type="submit" class="btn btn-danger">Delete post</button>
                        </form>
                    }

                    <h3>
                        @Model.Post.Title

                    </h3>
                    <p>
                        @Model.Post.Content
                    </p>
                </td>
                <td>
                    <div class="text-nowrap">
                        <div>
                            Created at: @Model.Post.CreatedAt
                        </div>
                        <div>
                            Likes: @Model.Post.Likes
                        </div>
                        <div>
                            Edited: @Model.Post.Edited
                        </div>
                        @if (Model.Post.Edited)
                        {
                            <form asp-controller="PostHistory" asp-action="GetPostHistory" asp-route-postId="@Model.Post.Id" method="get">
                                <button type="submit" class="btn btn-primary">View edit history</button>
                            </form>
                        }
                    </div>
                </td>
            </tr>
            @foreach (Comment comment in Model.Comments)
            {
                <tr>
                    <td>
                        <div class="text-nowrap">
                            <div>
                                User:
                            </div>
                            <div>
                                <a asp-controller="Profile" asp-action="Index" asp-route-username="@comment.User">@comment.User</a>
                            </div>
                        </div>
                    </td>
                    <td class="w-100">
                        @if (Model.UserId == comment.UserId)
                        {
                            <form asp-controller="Comment" asp-action="Update" method="get">
                                <input type="hidden" name="commentId" value="@comment.Id" />
                                <button type="submit" class="btn btn-primary">Edit comment</button>
                            </form>
                            <form asp-controller="Comment" asp-action="DeleteComment" method="post">
                                <input type="hidden" name="commentId" value="@comment.Id" />
                                <input type="hidden" name="postId" value="@Model.Post.Id" />
                                <button type="submit" class="btn btn-danger">Delete comment</button>
                            </form>
                        }
                        <p>
                            @comment.Content
                        </p>
                    </td>
                    <td>
                        <div class="text-nowrap">
                            <div>
                                Created at: @comment.CreatedAt
                            </div>
                            <div>
                                Likes: @comment.Likes
                            </div>
                            <div>
                                Edited: @comment.Edited
                            </div>
                            @if (comment.Edited)
                            {
                                <form asp-controller="CommentHistory" asp-action="GetCommentHistory" asp-route-commentId="@comment.Id" method="get">
                                    <button type="submit" class="btn btn-primary">View edit history</button>
                                </form>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<pagination page-info="@Model.PageInfo" id="@Model.Post.Id"></pagination>