@model ProfileViewModel

<h2>Posts</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model.Posts)
        {
            <tr>
                <td>
                <a asp-controller="Post" asp-action="GetPostById" asp-route-postId="@post.Id">
                    @post.Title
                </a>
                </td>
                <td><display-date-time date-time="@post.CreatedAt" /></td>
            </tr>
        }
    </tbody>
</table>
<pagination posts-page-info="@Model.PostPageInfo" comments-page-info="@Model.CommentPageInfo"
page-info="@Model.PostPageInfo" type="ProfilePosts" username="@Model.User.UserName"></pagination>