@model CommentHistoryViewModel

<p>
    <strong>Comment History</strong>
</p>

<div class="">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="text-nowrap">
                        <div>
                            User:
                        </div>
                        <div>
                            <a asp-controller="Profile" asp-action="Index" asp-route-username="@Model.Comment.User.UserName">@Model.Comment.User.UserName</a>
                        </div>
                    </div>
                </td>
                <td class="w-100">
                    <p>
                        @Model.Comment.Content
                    </p>
                </td>
                <td>
                    <div class="text-nowrap">
                        <div>
                            Created at: <display-date-time date-time="@Model.Comment.CreatedAt"></display-date-time>
                        </div>
             @*            <div>
                            Last edit: <display-date-time date-time="@Model.Comment.EditedAt"></display-date-time>
                        </div> *@
                        <div>
                            Likes: @Model.Comment.Likes
                        </div>
                    </div>
                </td>
            </tr>
            @foreach (CommentHistory commentHistory in Model.CommentHistory)
            {
                <tr>
                    <td>
                        <div class="text-nowrap">
                        </div>
                    </td>
                    <td class="w-100">
                        <p>
                            @commentHistory.Content
                        </p>
                    </td>
                    <td>
                        <div class="text-nowrap">
                            Edited at: <display-date-time date-time="@commentHistory.CreatedAt"></display-date-time>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<pagination page-info="@Model.PageInfo" id="@Model.Comment.Id"></pagination>